@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&family=Young+Serif&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

text{
    font-family: kumbh sans;
}

.body{
   background-color: #19A1AE;
   width: 100%;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
  
}



.main{
    
   display: grid;
   
  
    width: 350px;
    height: 374px;

}


.top{
    
    height: 140px;
    border-radius: 15px 15px 0px 0px;
    background-color: #41CBD3;
}


.bottom{
    height:234px;
    border-radius:  0px 0px 15px 15px;
    background: #FFF;
    box-shadow: 0px 50px 100px -20px rgba(8, 70, 94, 0.50);
    display: grid;
    align-items: end;
    justify-content: center;
   justify-items: center;
   
}


.img{
    opacity: 0.5;
}
.img1{
    width: 29.669px;
    height: 29.6px;
   
}

.img2{
    width: 29.6px;
    height: 29.669px;
    transform: rotate(-90deg);
    

}

.img3{
    width: 29.6px;
    height: 29.669px;
    transform: rotate(180deg);
}


.img4{
    width: 29.6px;
    height: 29.669px;
    transform: rotate(90deg);
}


.image1{
    display: flex;
    justify-content: space-between;

}


.image2{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-top:5px;
    margin-bottom: 5px;
}

.image3{
   display: flex;
   justify-content: space-around;

}



.oval{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center ;
    width: 350px;
    height: 280px;
    flex-shrink: 0;
    z-index: 1;
}

.jamal{
    height: 96px;
    width: 96px;

}



.line{
    width: 350px;
height: 1px;
flex-shrink: 0;
background: #E8E9EC;
margin-top: 88px; 
}




.victor{
    color: #2E3349;
    text-align: center;
    font-family: Kumbh Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}



.v26{
    color: #6B7082;
text-align: center;
font-family: Kumbh Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

}



.london{
    color: #6B7082;
text-align: center;
font-family: Kumbh Sans;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: normal;


}


.abc{
    display: block;
    justify-content: center;
    margin-bottom: -80px ;
 
}

.text{
    display: inline-flex;
padding: 0px 0.5px 5px 0px;
justify-content: center;
align-items: flex-start;
gap: 8.5px;

}



.followers{
    display: inline-flex;
padding: 0px 1.5px 3px 1.5px;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 9px;
margin-left: 47px;
margin-right: 46.5px;
}




.f1{
    color: #6B7082;
text-align: center;
font-family: Kumbh Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.5px;
}



.k80{
    color: #2E3349;
text-align: center;
font-family: Kumbh Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.likes{
    display: inline-flex;
    padding: 0px 0.5px 3px 0.5px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 9px;
}

.l803{
    color: #2E3349;
text-align: center;
font-family: Kumbh Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.l1{
    color: #6B7082;
text-align: center;
font-family: Kumbh Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.5px;
}


.photos{
    display: inline-flex;
padding: 0px 1.5px 3px 1.5px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 9px;
margin-left: 54px;
margin-right: 54px;
}


.p14{
    color: #2E3349;
text-align: center;
font-family: Kumbh Sans;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.p1p{
    color: #6B7082;
text-align: center;
font-family: Kumbh Sans;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1.5px;
}




.down{
    width: 350px;
    display: flex;
    
    margin-bottom: 24px;
}


























.ball1{
    width: 978px;
    height: 976px;
    transform: rotate(-135deg);
    border-radius: 978px;
    opacity: 0.5;
    background: linear-gradient(180deg, rgba(9, 137, 180, 0.00) 0.78%, #53FFEE 99.94%);
    
} 




